section {
    width: 80vw;
    max-width: 1200px;
    margin: auto;
    margin-top: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 3em 0;
    margin-bottom: 5em;
    flex-wrap: wrap;
}

#tabs a {
    position: relative;
    transition: 0.5s transform ease;
    transform-origin: 50% 0%;
    filter: drop-shadow(5px 10px 3px rgba(0, 0, 0, 0.5));
}

#tabs a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/image-resize/50/star1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
#tabs a:nth-child(2n)::after {
    background-image: url(/image-resize/50/star2.png);
}

#tabs a:hover {
    transform: rotate(var(--angle));
}

.cover-row {
    width: 100%;
    display: flex;
    padding: 1em 0;
    gap: 1em;
}

.cover-row .thumbnail {
    flex-basis: 45%;
    flex-shrink: 0;
    background-color: blue;
    min-height: 250px;
}

.cover-row .content {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    .cover-row {
        flex-direction: column;
        align-items: center;
    }
    .cover-row .thumbnail {
        width: 100%;
    }
}