:root {
    --angle: 10;
}
html, body {
    background-image: none;
}
#corkboard {
    position: relative;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; */
    display: block;
    /* display: grid;
    gap: 10px;
    grid-template-columns: masonry;
    grid-template-rows: repeat(3, 100px); */

    /* gap: 1em; */
    padding: 2em;
    margin: 2em;
    min-height: 100vh;

    /* border-image-source: url(/image-resize/full/corkboard-img/corkboard\ frame.png);
    border-image-slice: 7%;
    border-image-repeat: repeat; */
    border-style: solid;
    border-width: 20px;
    border-color: #625049;
    box-shadow: inset 0 0 15px;
    background-color: #ae8d85;
    background-image: url(/image-resize/1024/corkboard-img/pattern_corkboard1.png), url(/image-resize/256/corkboard-img/pattern_corkboard1.png);
    background-size: 500px;
}
.corkboard-inner {
    margin: 0 auto;
    display: block;
}
corkboard-item,
.grid-sizer,
.inline-deco {
    width: 20vmin;
    min-width: 200px;
}
corkboard-item {
    position: relative;
    margin-bottom: 3vmin;
    /* height: 35vmin; */
    /* width: 20%; */
    /* height: 100px; */
    transition: 0.5s transform ease, 0.5s rotate ease;
    transform-origin: 50% 10%;
    transform: none;
    filter: drop-shadow(5px 10px 3px rgba(0, 0, 0, 0.5));
    content-visibility: visible;
    display: inline-block;
    cursor: pointer;
}
corkboard-item[entry-type="art writing"] {
    margin-top: 5vmin;
}
corkboard-item[entry-type="art writing"]::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    top: -22%;
    left: 0%;
    width: 30%;
    background-image: url(/image-resize/200/corkboard/bookmark_1.png);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
}

corkboard-item[entry-type="art writing"]:nth-child(2n)::before {
    left: 25%;
    rotate: 10deg;
    background-image: url(/image-resize/200/corkboard/bookmark_2.png);
}
corkboard-item[entry-type="art writing"]:nth-child(3n)::before {
    left: 5%;
    background-image: url(/image-resize/200/corkboard/bookmark_3.png);
}
corkboard-item[entry-type="art writing"]:nth-child(4n)::before {
    left: 50%;
    rotate: 15deg;
    background-image: url(/image-resize/200/corkboard/bookmark_4.png);
}

corkboard-item[entry-type="writing"] {
    /* box-shadow: none !important; */
}

.corkboard-item.content-hidden {
    content-visibility: auto;
}
.corkboard-item:not(.visible) {
    opacity: 0;
    box-shadow: none;
    pointer-events: none;
}

corkboard-item.anim-in {
    animation: corkboard-item-anim-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

corkboard-item:hover, corkboard-item:active, corkboard-item:focus-visible {
    /* animation: corkboard-item-swing 1s linear infinite;
    animation-fill-mode: both; */
    transform: rotate(var(--angle));
}

corkboard-item img,
#corkboard-item-dummy img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#corkboard-item-dummy img {
    border-radius: 12px;
}

corkboard-item img.polaroid {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #faf4e8;
}

@keyframes corkboard-item-anim-in {
    from { transform: translateY(-25%); opacity: 0;  }
    to { transform: none; opacity: 1; content-visibility: visible; }
}

@keyframes corkboard-item-swing {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(2deg);}
    75% { transform: rotate(0deg);}
    75% { transform: rotate(-2deg);}
    100% { transform: rotate(0deg); }
}

.inline-deco {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s opacity ease;
}
.inline-deco[src*="star"] { width: 5vw; margin: 1vw; min-width: 0; }

#corkboard .deco {
    position: absolute;
    width: 160px;
    z-index: 999;
}


#corkboard .deco.top { bottom: calc(100% - 16px); }
#corkboard .deco.bottom { bottom: -80px; width: 20vw; max-width: 400px; min-width: 200px;}
#corkboard .deco.left { left: 0; }
#corkboard .deco.right { right: 0; }

#corkboard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 999;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#corkboard-item-dummy {
    /* position: absolute; */
    position: relative;
    transform: none;
    transition: 0.5s transform ease, 0.5s rotate ease, 0.5s width ease, 0.5s height ease;
    flex-shrink: 0;
}
#corkboard-item-dummy.img-load {
    height: 80dvh;
    rotate: 0deg;
}

#corkboard-item-dummy.img-load iframe,
#corkboard-item-dummy.img-load .credit,
#corkboard-item-dummy.img-load .date,
#corkboard-item-dummy.img-load .title {
    opacity: 1;
    transform: translateX(-25%) rotate(5deg);
}
#corkboard-item-dummy.img-load .credit.label {
    transform: translateX(-50%) rotate(-5deg);
}
#corkboard-item-dummy.img-load .date,
#corkboard-item-dummy.img-load .title {
    transform: translateX(10%) rotate(5deg);
}

#corkboard-item-dummy iframe {
    position: absolute;
    left: 34%;
    top: 38%;
    height: 50%;
    aspect-ratio: 1.75;
    transition: 0.5s opacity ease, 0.5s transform ease;
    opacity: 0;
    transition-delay: 1s;
    transform: translateX(-10%) rotate(0deg);
}

#corkboard-item-dummy .credit,
#corkboard-item-dummy .date,
#corkboard-item-dummy .title {
    position: absolute;
    transition: 0.5s opacity ease, 0.5s transform ease;
    opacity: 0;
    transition-delay: 1s;
    transform: translateX(-10%) rotate(0deg);
    background-color: white;
    border-radius: 20px;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}
#corkboard-item-dummy .credit {
    left: 5%;
    bottom: 0%;
}
#corkboard-item-dummy .credit.label {
    left: 0%;
    bottom: 2em;
}
#corkboard-item-dummy .date,
#corkboard-item-dummy .title {
    top: 0%;
    right: 0%;
    transform-origin: 75% 50%;
}
#corkboard-item-dummy .title {
    text-align: right;
    font-weight: 500;
    font-size: 70%;
}
#corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load {
    width: 45%;
}
#corkboard-overlay.food #corkboard-item-dummy.img-load {
    width: 50vw;
    width: var(--width);
}
#corkboard-overlay.memory-writing #corkboard-item-dummy {
    display: none;
}
#corkboard-overlay.memory-writing .details-dialog-text .credit {
    right: 32%;
}
#corkboard-overlay.memory-art #corkboard-item-dialog {
    display: none !important;
}
/* dialog box */

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-container[aria-hidden="true"] {
    transition: 0.5s opacity ease;
    opacity: 0;
    pointer-events: none;
}

.dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity ease 0.5s;
    opacity: 0;
}

[role="dialog"][aria-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
}

#corkboard-item-dialog {
    position: relative;
    /* left: 1em;
    width: 45%;
    height: 80dvh; */
    padding: 1em;
    box-sizing: border-box;
    transition: 0.5s transform ease, 0.5s opacity ease;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-image: url(/image-resize/full/corkboard/writing_art_bg_2.png), url(/image-resize/200/corkboard/writing_art_bg_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    aspect-ratio: 1 / 1.15;
    max-height: 80vh;

    transform: translateX(-10%);
}
/* #corkboard-overlay.memory-writing.list #corkboard-item-dialog {
    left: 0;
    width: 80vw;
    max-width: 800px;
    aspect-ratio: 1.75 / 1;
    background-image: url(/image-resize/full/corkboard/writing_art_bg_2.png), url(/image-resize/200/corkboard/writing_art_bg_2.png);
}

#corkboard-overlay.memory-writing.letter #corkboard-item-dialog {
    left: 0;
    width: 80vw;
    max-width: 800px;
    aspect-ratio: 1.75 / 1;
    background-image: url(/image-resize/full/corkboard/writing_art_bg.png), url(/image-resize/200/corkboard/writing_art_bg.png);
} */

#corkboard-overlay.memory-writing #corkboard-item-dialog {
    left: 0;
    width: 80vw;
    max-width: 910px;
    aspect-ratio: 1.75 / 1;
    background-image: url(/image-resize/full/corkboard/writing_bg.png), url(/image-resize/200/corkboard/writing_bg.png);
}

#corkboard-overlay.memory-writing .details-dialog-text {
    position: relative;
    top: 0;
    padding: 1% 5%;
    padding-left: 10%;
    padding-bottom: 8%;
    width: calc(100% - 19%);
    aspect-ratio: 1.6 / 1;
    overflow-y: auto;
}
#corkboard-overlay.memory-writing .details-dialog-text .date {
    margin-left: 4.5vw;
}

#corkboard-item-dialog.slide-out {
    transform: translateX(0%) rotate(5deg);
    opacity: 1;
}

#sparkle-effects {
    position: absolute;
    transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.5s opacity ease;
    transform: translateY(-10%);
    opacity: 0;
}

#sparkle-effects img {
    position: absolute;
}

#sparkle-effects img:nth-child(1) {
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
}

#sparkle-effects img:nth-child(2) {
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
}

#corkboard-overlay.sparkle-in #sparkle-effects {
    transform: none;
    opacity: 1;
}

.dialog-close {
    position: absolute;
    bottom: 1em;
    /* margin-top: 1.5em; */
    cursor: pointer;
    background-color: white;
    padding: 0.5em;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 50%;
}

.details-dialog-text{
    width: 100%;
    box-sizing: border-box;
    padding: 11% 13.5%;
    padding-right: 7.5%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1.1;
    overflow: hidden;
}

.details-dialog-inner {
    overflow-y: auto;
    height: calc(100% - 2em);
    width: 100%;
    position: relative;
}

.details-dialog-text h3{
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 1rem 0;
}

.details-dialog-text .date {
    font-size: 0.5rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 1em;
}
.details-dialog-text .details-dialog-inner > * {
    font-size: 0.85rem;
}
.details-dialog-text .details-dialog-inner ul {
    padding-left: 24px;
    list-style: url("/image-resize/20/star1.png");
}
.details-dialog-text .details-dialog-inner ul li {
    padding-left: 5px;
}
.details-dialog-text .details-dialog-inner ul li:nth-child(2n) {
    list-style: url("/image-resize/20/star2.png");
}
.details-dialog-text .credit {
    font-size: 0.75rem;
    text-align: right;
    position: absolute;
    bottom: 12%;
    right: 15%;
}
.details-dialog-text p:first-child{
    margin-top: 0;
}
.details-dialog-text p:last-child{
    margin-bottom: 0;
}

.dialog-container:not([aria-hidden="true"]),
.dialog-container:not([aria-hidden="true"]) .dialog-overlay {
    transform: translateY(0);
    opacity: 1;
}

.deco.star {
    position: absolute;
    width: 5vw;
    aspect-ratio: 1 / 1;
}

@media only screen and (max-width: 800px) {
    global-header nav { display: none !important; }
    #corkboard {
        padding: 1em;
        margin: 1em;
        margin-bottom: 100px;
    }
    corkboard-item,
    .grid-sizer,
    .inline-deco {
        width: 200px;
    }
    #corkboard-overlay {
        flex-direction: column;
    }
    #corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load {
        height: auto;
        width: 100%;
    }
    #corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load {
        width: 100%;
        height: 45%;
    }
    #corkboard-overlay.food #corkboard-item-dummy.img-load {
        max-width: 90vw;
    }
}

@media only screen and (max-width: 500px) {
    #corkboard {
        padding: 1em;
        margin: 2vw;
        margin-bottom: 100px;
        min-width: 300px;
    }
    /* corkboard-item {
        height: 60vw;
    } */
    corkboard-item,
    .grid-sizer,
    .inline-deco {
        width: 80%;
    }
}