:root {
    --angle: 10;
}
html, body {
    background-image: none;
    overflow-x: hidden;
}
html.dialog-open {
    overflow-y: hidden;
}
#corkboard {
    position: relative;
    display: block;
    padding: 2em;
    margin: 0em 2em;
    padding-top: 180px;
    min-height: 200vh;
    /* border-image-source: url(/image-resize/full/corkboard-img/corkboard\ frame.png);
    border-image-slice: 7%;
    border-image-repeat: repeat; */
    border-style: solid;
    border-width: 2vmin;
    border-color: #625049;
    box-shadow: inset 0 0 15px;
    background-color: #ae8d85;
    background-image: url(/image-resize/1024/corkboard-img/pattern_corkboard1.png), url(/image-resize/256/corkboard-img/pattern_corkboard1.png);
    background-size: 500px;
}
.corkboard-inner {
    margin: 0 auto;
    display: block;
}
corkboard-item,
.grid-sizer,
.inline-deco {
    /* width: 20vmin; */
    width: 250px;
}
.hoverable,
corkboard-item {
    position: relative;
    margin-bottom: 3vmin;
    /* height: 35vmin; */
    /* width: 20%; */
    /* height: 100px; */
    transition: 0.5s transform ease, 0.5s rotate ease;
    transform-origin: 50% 10%;
    transform: none;
    filter: drop-shadow(5px 10px 3px rgba(0, 0, 0, 0.5));
    content-visibility: visible;
    display: inline-block;
    cursor: pointer;
}
corkboard-item:not([entry-type="writing"])::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/image-resize/50/star1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
corkboard-item:not([entry-type="writing"]):nth-child(2n)::after {
    background-image: url(/image-resize/50/star2.png);
}
corkboard-item[entry-type="art writing"] {
    margin-top: 5vmin;
}
corkboard-item[entry-type="art writing"]::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    top: -22%;
    left: 0%;
    width: 30%;
    background-image: url(/image-resize/200/corkboard/bookmark_1.png);
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
}

corkboard-item[entry-type="art writing"]:nth-child(2n)::before {
    left: 55%;
    rotate: 10deg;
    background-image: url(/image-resize/200/corkboard/bookmark_2.png);
}
corkboard-item[entry-type="art writing"]:nth-child(3n)::before {
    left: 5%;
    background-image: url(/image-resize/200/corkboard/bookmark_3.png);
}
corkboard-item[entry-type="art writing"]:nth-child(4n)::before {
    left: 50%;
    rotate: 15deg;
    background-image: url(/image-resize/200/corkboard/bookmark_4.png);
}

corkboard-item[entry-type="writing"] {
    /* box-shadow: none !important; */
}

.corkboard-item.content-hidden {
    content-visibility: auto;
}
.corkboard-item:not(.visible) {
    opacity: 0;
    box-shadow: none;
    pointer-events: none;
}

corkboard-item.anim-in {
    animation: corkboard-item-anim-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.hoverable:hover, .hoverable:active, .hoverable:focus-visible,
corkboard-item:hover, corkboard-item:active, corkboard-item:focus-visible {
    /* animation: corkboard-item-swing 1s linear infinite;
    animation-fill-mode: both; */
    transform: rotate(var(--angle));
}

.hoverable img,
corkboard-item img,
#corkboard-item-dummy img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 80dvh;
    aspect-ratio: var(--ratio);
}

#corkboard-item-dummy img {
    border-radius: 12px;
}
#corkboard-item-dummy:hover #desc-hover {
    opacity: 1;
}
#corkboard-item-dummy #desc-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);

    opacity: 0;
    transition: 0.5s opacity ease;
}

corkboard-item img.polaroid {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #faf4e8;
}

#corkboard .deco.accessible {
    position: absolute;
    top: 0;
    left: 50%;
    width: 180px;
    --angle: 5deg;
}
#corkboard .deco.pdf {
    position: absolute;
    top: 0;
    right: 50%;
    width: 170px;
    --angle: -3deg;
    transform-origin: 70% 15%;
}

@keyframes corkboard-item-anim-in {
    from { transform: translateY(-25%); opacity: 0;  }
    to { transform: none; opacity: 1; content-visibility: visible; }
}

@keyframes corkboard-item-swing {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(2deg);}
    75% { transform: rotate(0deg);}
    75% { transform: rotate(-2deg);}
    100% { transform: rotate(0deg); }
}

.inline-deco {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s transform ease, 0.5s opacity ease;
    transform: none;
    filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}
.inline-deco[src*="star"] { width: 5vmin; margin: 1vmin; min-width: 0; }

#corkboard .deco {
    position: absolute;
    width: 160px;
    z-index: 888;
}


#corkboard .deco.top { bottom: calc(100% - 16px); }
#corkboard .deco.bottom { bottom: -80px; width: 30vmin; max-width: 400px; min-width: 160px;}
#corkboard .deco.left { left: 0; }
#corkboard .deco.right { right: 0; }

#corkboard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100dvh;
    z-index: 999;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    padding: 0 5vmin;
}

#spinner { position: absolute; }

#corkboard-item-dummy {
    /* position: absolute; */
    position: relative;
    transform: none;
    transition: 0.5s transform ease, 0.5s rotate ease, 0.5s width ease, 0.5s height ease;
    flex-shrink: 0;
}
#corkboard-item-dummy::before {
    content: "";
    border: 7px solid var(--blue-2);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: 0.5s opacity ease, 0.5s transform ease;
    opacity: 0;
    transform: none;
    border-style: dashed;
}

#corkboard-item-dummy.img-load {
    max-height: calc(80dvh - 5em);
    max-width: 80vw;
    width: var(--width);
    height: var(--height);
    rotate: 0deg;
    aspect-ratio: var(--ratio);
}

#corkboard-item-dummy.img-load iframe,
#corkboard-item-dummy.img-load .credit,
#corkboard-item-dummy.img-load .date,
#corkboard-item-dummy.img-load .title,
#corkboard-item-dummy.img-load .cutout {
    opacity: 1;
    transform: translateX(-25%) rotate(3deg);
}
#corkboard-item-dummy.img-load .credit.label {
    transform: translateX(-50%) rotate(-5deg);
}
#corkboard-item-dummy.img-load .date,
#corkboard-item-dummy.img-load .title {
    transform: translateY(-50%) translateX(10%) rotate(5deg);
}
#corkboard-item-dummy.img-load .cutout.cutout_0 {
    transform: translate(-65%, -50%) rotate(-10deg);
}
#corkboard-item-dummy.img-load .cutout.cutout_1 {
    transform: translate(65%, -50%) rotate(10deg);
}

#corkboard-item-dummy iframe {
    position: absolute;
    left: 34%;
    top: 38%;
    height: 50%;
    aspect-ratio: 1.75;
    transition: 0.5s opacity ease, 0.5s transform ease;
    opacity: 0;
    transition-delay: 1s;
    transform: translateX(-10%) rotate(0deg);
}

#corkboard-item-dummy .credit,
#corkboard-item-dummy .date,
#corkboard-item-dummy .title {
    position: absolute;
    transition: 0.5s opacity ease, 0.5s transform ease;
    opacity: 0;
    transition-delay: 1s;
    transform: translateX(-10%) rotate(0deg);
    background-color: var(--beige);
    border-radius: 2vmin;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    color: var(--dark);
}
#corkboard-item-dummy .credit {
    left: 1.5em;
    bottom: 0em;
    transform-origin: 25% 50%;
}
#corkboard-item-dummy .credit.label {
    left: 0%;
    bottom: 2.1em;
    z-index: 2;
}
#corkboard-item-dummy .date,
#corkboard-item-dummy .title {
    top: 0%;
    right: 0%;
    transform-origin: 75% 50%;
}
#corkboard-item-dummy .title {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
    text-align: right;
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--blue-3);
}
#corkboard-item-dummy img.cutout {
    position: absolute;
    z-index: 1;
    width: 25vmin;
    height: 30vmin;
    opacity: 0;
    transition: 0.5s transform ease, 0.5s opacity ease;
    transition-delay: 1s;
}
#corkboard-item-dummy img.cutout.cutout_0 {
    transform: translate(-50%, -60%);
    left: 0; top: 70%;
}
#corkboard-item-dummy img.cutout.cutout_1 {
    transform: translate(50%, -40%);
    right: 0; top: 25%;
}
#corkboard-item-dummy.slide-out::before {
    transform: rotate(-5deg);
    opacity: 1;
}
#corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load {
    max-width: 45%;
    height: auto;
}
#corkboard-overlay.memory-writing #corkboard-item-dummy {
    display: none;
}
#corkboard-overlay.memory-writing .details-dialog-text .credit {
    right: 32%;
}
#corkboard-overlay.memory-art #corkboard-item-dialog {
    display: none !important;
}
/* dialog box */

.dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-container[aria-hidden="true"] {
    transition: 0.5s opacity ease;
    opacity: 0;
    pointer-events: none;
}

.dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity ease 0.5s;
    opacity: 0;
}

[role="dialog"][aria-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
}

#corkboard-item-dialog {
    position: relative;
    /* left: 1em;
    width: 45%;
    height: 80dvh; */
    padding: 1em;
    box-sizing: border-box;
    transition: 0.5s transform ease, 0.5s opacity ease;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-image: url(/image-resize/full/corkboard/writing_art_bg_2.png), url(/image-resize/200/corkboard/writing_art_bg_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    aspect-ratio: 1 / 1.15;
    max-height: 80vh;

    transform: translateX(-10%);
}
/* #corkboard-overlay.memory-writing.list #corkboard-item-dialog {
    left: 0;
    width: 80vw;
    max-width: 800px;
    aspect-ratio: 1.75 / 1;
    background-image: url(/image-resize/full/corkboard/writing_art_bg_2.png), url(/image-resize/200/corkboard/writing_art_bg_2.png);
}

#corkboard-overlay.memory-writing.letter #corkboard-item-dialog {
    left: 0;
    width: 80vw;
    max-width: 800px;
    aspect-ratio: 1.75 / 1;
    background-image: url(/image-resize/full/corkboard/writing_art_bg.png), url(/image-resize/200/corkboard/writing_art_bg.png);
} */

#corkboard-overlay.memory-writing #corkboard-item-dialog {
    left: 0;
    width: 80vw;
    max-width: 120vmin;
    aspect-ratio: 1.75 / 1;
    background-image: url(/image-resize/full/corkboard/writing_bg.png), url(/image-resize/200/corkboard/writing_bg.png);
}

#corkboard-overlay.memory-writing .details-dialog-text {
    position: relative;
    top: 0;
    padding: 3% 5%;
    padding-left: 12%;
    padding-bottom: 8%;
    width: calc(100% - 19%);
    aspect-ratio: 1.6 / 1;
    /* overflow-y: auto; */
}
#corkboard-overlay.memory-writing .details-dialog-text .date {
    margin-left: 5%;
}

#corkboard-item-dialog.slide-out {
    transform: translateX(0%) rotate(5deg);
    opacity: 1;
}

#sparkle-effects {
    position: absolute;
    transition: 1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.5s opacity ease;
    transform: translateY(-10%);
    opacity: 0;

    filter: drop-shadow(2px 4px 6px gray);
}

#sparkle-effects img {
    position: absolute;
}

#sparkle-effects img:nth-child(1) {
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
}

#sparkle-effects img:nth-child(2) {
    bottom: 0;
    right: 0;
    width: 250px;
    height: 250px;
}

#corkboard-overlay.sparkle-in #sparkle-effects {
    transform: none;
    opacity: 1;
}

.dialog-close {
    position: absolute;
    bottom: 1em;
    /* margin-top: 1.5em; */
    cursor: pointer;
    background-color: white;
    padding: 0.5em;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 50%;
}

.details-dialog-text{
    width: 100%;
    box-sizing: border-box;
    padding: 11% 13.5%;
    padding-right: 7.5%;
    box-sizing: border-box;
    aspect-ratio: 1 / 1.1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.details-dialog-inner {
    overflow-y: auto;
    width: 100%;
    position: relative;
    scrollbar-color: var(--dark) transparent;
    padding-right: 0.5em;
    box-sizing: border-box;
    flex-grow: 1;

    color: var(--dark);
}

.details-dialog-text h3{
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 1rem 0;
}

.details-dialog-text .date {
    font-size: 0.75rem;
    font-weight: 500;
    display: inline-block;
}
.details-dialog-text .details-dialog-inner > * {
    font-size: 1.25rem;
    font-family: "Nanum Pen Script", cursive;
}
.details-dialog-text .details-dialog-inner ul {
    padding-inline-start: 1em;
    list-style-image: url(/image-resize/20/star1.png);
    list-style-position: outside;
}
.details-dialog-text .details-dialog-inner ul li {
    padding-left: 5px;
}
.details-dialog-text .details-dialog-inner ul li:nth-child(2n) {
    list-style-image: url("/image-resize/20/star2.png");
}
.details-dialog-text .credit {
    font-size: 0.85rem;
    text-align: right;
    position: relative;
    flex-shrink: 0;
}
.details-dialog-text p:first-child{
    margin-top: 0;
}
.details-dialog-text p:last-child{
    margin-bottom: 0;
}

.dialog-container:not([aria-hidden="true"]),
.dialog-container:not([aria-hidden="true"]) .dialog-overlay {
    transform: translateY(0);
    opacity: 1;
}

.deco.star {
    position: absolute;
    width: 5vw;
    aspect-ratio: 1 / 1;
}
.credit.label {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.credit {
    font-family: "Shantell Sans", cursive;
    /* medium */
    font-optical-sizing: 500;
    font-weight: normal;
    font-style: italic;
    font-variation-settings:
        "BNCE" 0,
        "INFM" 0,
        "SPAC" 0;
}

#speech-bubble {
	position: relative;
	background: white;
	border-radius: .4em;
    color: var(--dark);

    display: none;
    transition: 0.5s transform, 0.5s opacity ease;
    transform: translateX(-50%);
    opacity: 0;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 37px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -18.5px;
	margin-left: -37px;
}

@media only screen and (max-width: 800px) {
    global-header nav { display: none !important; }
    #corkboard {
        padding: 1em;
        margin: 0 1em;
        padding-top: 180px;
        margin-bottom: 100px;
    }
    corkboard-item,
    .grid-sizer,
    .inline-deco {
        width: 250px;
    }
    #corkboard-overlay.food #corkboard-item-dummy.img-load,
    #corkboard-overlay.memory-art #corkboard-item-dummy.img-load {
        max-width: 80vw;
        height: auto;
    }
    #corkboard-overlay.memory-writing #corkboard-item-dialog {
        width: 100vw;
    }
}

@media only screen and (min-width: 1920px) {
    #corkboard {
        margin: 0 auto;
        padding-top: 180px;
        max-width: 1920px;
    }
}
@media only screen and (max-width: 600px) {
    #corkboard {
        padding: 0;
        margin: 2vw;
        padding-top: 180px;
        margin-bottom: 100px;
        min-width: 300px;
        box-sizing: border-box;
    }
    /* corkboard-item {
        height: 60vw;
    } */
    corkboard-item,
    .grid-sizer,
    .inline-deco {
        /* width: 80%; */
    }
    #corkboard-overlay {
        flex-direction: column;
        overflow: hidden;
        padding: 0;
    }
    #corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load {
        width: auto;
        height: 45%;
    }
    #corkboard-overlay.food #corkboard-item-dummy.img-load,
    #corkboard-overlay.memory-art #corkboard-item-dummy.img-load {
        max-width: 90vw;
        height: auto;
        margin-top: 2.5em;
    }
    #corkboard-overlay.food #corkboard-item-dummy.img-load .title,
    #corkboard-overlay.memory-art #corkboard-item-dummy.img-load .title {
        transform: translateY(-125%) translateX(-50%) rotate(0deg);
        right: auto;
        left: 50%;
    }
    #corkboard-item-dummy.img-load .credit.label {
        transform: translateX(-10%) translateY(100%) rotate(0deg);
    }
    #corkboard-item-dummy.img-load .credit {
        transform: translateX(-10%) translateY(100%) rotate(0deg);
    }
    #corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load .credit,
    #corkboard-overlay.memory-writing #corkboard-item-dummy.img-load .credit {
        transform: translateX(-10%) rotate(0deg);
    }
    #corkboard-overlay.memory-writing #corkboard-item-dialog, 
    #corkboard-overlay.memory-art-writing #corkboard-item-dialog {
        left: 0;
        width: 100%;
        max-width: none;
        background-color: #ffffff;
        aspect-ratio: auto;
        background-size: 110%;
        background-position: 100% 100%;
        max-height: none;
    }
    #corkboard-overlay.memory-writing #corkboard-item-dialog {
        height: 100%;
        background-position: 50% 100%;
    }
    #corkboard-overlay.memory-writing .details-dialog-text,
    #corkboard-overlay.memory-art-writing .details-dialog-text {
        aspect-ratio: auto;
        padding-bottom: 0.5em;
        padding-top: 0;
        width: 100%;
        max-height: calc(100% - 6em);
        padding-left: 0.75em;
        padding-right: 0.75em;
        background: #ffffffb0;
        backdrop-filter: blur(1px);
        border-radius: 15px;
    }
    #corkboard-overlay.memory-art-writing .details-dialog-text {
        padding-right: 0;
        padding-bottom: 0;
        width: calc(100% - 2.5em);
        max-height: calc(100% - 1em);
    }
    #corkboard-overlay.memory-writing .details-dialog-inner,
    #corkboard-overlay.memory-art-writing .details-dialog-inner {
        overflow-y: auto;
        width: 100%;
        position: relative;
    }
    #corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load .credit.label,
    #corkboard-overlay.memory-writing #corkboard-item-dummy.img-load .credit.label {
        bottom: 1.5rem;
    }
    #corkboard-overlay.memory-art-writing #corkboard-item-dummy.img-load .credit,
    #corkboard-overlay.memory-writing #corkboard-item-dummy.img-load .credit {
        bottom: 0;
    }
    #corkboard-item-dummy .credit, 
    #corkboard-item-dummy .date {
        font-size: 0.75rem;
    }
    #corkboard-item-dummy .title {
        font-size: 100%;
        width: 100%;
        text-align: center;
    }
    #corkboard-overlay.memory-writing .details-dialog-text .credit {
        right: 0;
    }
    #corkboard-overlay .dialog-close {
        bottom: auto;
        top: 1em;
        right: 1em;
    }
    #corkboard-item-dialog.slide-out {
        transform: translateX(0%) rotate(0deg);
    }
}
.inline-deco[src="/image-resize/full/corkboard/deco_1.png"],
.inline-deco[src="/image-resize/full/corkboard/deco_4.png"] {
    transform-origin: 50% 10%;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
    z-index: 999;
}
.inline-deco[src="/image-resize/full/corkboard/deco_2.png"],
.inline-deco[src="/image-resize/full/corkboard/deco_3.png"] {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    z-index: 999;
}

.inline-deco[src="/image-resize/full/corkboard/deco_1.png"]:hover,
.inline-deco[src="/image-resize/full/corkboard/deco_4.png"]:hover {
    animation: wiggle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.inline-deco[src="/image-resize/full/corkboard/deco_2.png"]:hover,
.inline-deco[src="/image-resize/full/corkboard/deco_3.png"]:hover {
    animation: struggle;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes struggle {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-2px, 0); }
    50% { transform: translate(0, 2px); }
    75% { transform: translate(2px, 0); }
    80% { transform: translate(2px, 2px); }
    100% { transform: translate(0, 0); }
}