html, body {
    background-image: url(/image-resize/full/home/bg.png);
    background-repeat: repeat;
    background-size: 500px;
}

global-header nav {
    display: none;
}

global-header #logo {
    height: 250px;
}

section#intro {
    position: relative;
    width: 80vmax;
    min-height: 115vmax;
    left: calc(50% - 40vmax);

    /* border: 1px solid red;
    background-image: url(../images/home/mockup.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0; */
    /* display: grid;
    gap: 1em;
    grid-template-columns: 40vmin 1fr;
    grid-template-areas:    "header header"
                            "side-img desc"
                            "side-img buttons"; */
}

section#intro > * {
    position: absolute;
    transition: 1s opacity ease 0.5s, 1s transform ease 0.5s;
    transform: none;
    opacity: 1;
    /* opacity: 0.25; */
}

section#intro:not(.visible) > .deco{
    transform: translateY(-5vmax);
    opacity: 0;
}

section#intro > a:not(.visible) {
    opacity: 0;
}
section#intro > a.from-right:not(.visible) {
    transform: translateX(5vmax);
}
section#intro > a.from-left:not(.visible) {
    transform: translateX(-5vmax);
}

section#intro > a.transition-finish {
    transition-duration: 0.25s;
    transition-delay: 0s;
}

section#intro > a.visible:hover {
    transform: scale(1.1);
    transition-duration: 0.25s;
    transition-delay: 0s;
    /* z-index: 10; */
}

section#intro > * > img {
    position: relative;
    width: 100%;
}

.deco.cup {
    top: 1.7%;
    left: 13%;
    width: 31%;
    z-index: 5;
}

.deco.polaroid1 {
    top: 19.8%;
    left: 8.9%;
    width: 26.5%;
    z-index: 4;
}

.deco.polaroid2 {
    top: 27.6%;
    left: 17.2%;
    width: 28%;
    z-index: 3;
}

.deco.magazine {
    width: 66.3%;
    top: 3.9%;
    right: 5%;
    z-index: 4;
}

.deco.message {
    width: 50%;
    top: 44%;
    left: 14%;
    z-index: 5;
}

.deco.cake {
    width: 45%;
    top: 46.2%;
    right: 5%;
    z-index: 6;
}

.deco.pen {
    top: 56.4%;
    width: 14.7%;
    left: 12.5%;
    z-index: 6;
}

a.corkboard {
    width: 26.7%;
    top: 59.5%;
    left: 26.1%;
    z-index: 3;
}

a.keychain {
    width: 21.9%;
    top: 73%;
    left: 15.9%;
    z-index: 6;
}

a.receipt {
    width: 28.9%;
    top: 72%;
    left: 40.9%;
    z-index: 5;
}

a.pin {
    width: 17.9%;
    top: 81.9%;
    left: 64.2%;
    z-index: 5;
}

section#intro .message p {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 80%;
    padding: 5% 10%;
    padding-left: 13%;
    padding-bottom: 8%;
    margin: 0;
    rotate: -2deg;
    box-sizing: border-box;
    overflow-y: auto;
    font-family: "Schoolbell", cursive;
}