section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.credit-category {
    position: relative;
    /* width: 50%; */
    padding: 1em;
}

.credit-category b {
    display: block;
    width: 100%;
    text-align: center;
}

.credit-category img {
    width: 100%;
}

.credit-image {
    width: 90vw;
    max-width: 1050px;
}

.credit-bubble, .credit-alt {
    position: absolute;
}

ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .credit-category {
        width: 100%;
        overflow: scroll;
        height: 750px;
        cursor: move;
        padding: 0;
    }
    .credit-image {
        position: absolute;
        left: 0;
        width: 800px;
    }
}